.DS_Store
.AppleDouble
.LSOverride

.build-venv/
.venv/
venv/

build/
DerivedData/
*.xcuserstate
**/xcuserdata/
.swiftpm/
dist/*
!dist/*.dmg

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
